
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div> 
        <h2>Algunos de los fundadores son (no son reales)</h2>

        <ol>
            <li>LeBron James</li>

            <li>Antony Davis</li>

            <li>Rajon Rondo </li>
        </ol>
    </div>
</body>
</html>
