@{ ViewBag.Title = "Listado de Productos";}

@model IEnumerable<Practica5Unidad2.Models.Producto>

@{
    Layout = null;
}


<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th></th>

            <th>
                Descripcion
            </th>
            <th></th>

            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <th></th>

                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <th></th>

                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <th></th>
            </tr>
        </tbody>
    }
</table>


