
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario Datos</title>
</head>
<body>
    <div>
        <form action="/Home/CargaDatos" method="post">
            <p>Nombre: <input type="text" name="nombre" value="" /> </p>
            <p>Cedula: <input type="text" name="cedula" value="" /> </p>
            <p>Telefonos: <input type="text" name="telefonos" value="" /> </p>
            <p>Correo: <input type="text" name="correo" value="" /> </p>

            <br /> 

            <p> <input type="submit" value="Confirmar" /> </p>

        </form>
    </div>
</body>
</html>
