
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoDatos</title>
</head>
<body>
    <div> 
        @Html.Raw(ViewData["glPersona"])
        <br />
        <a href="/">Retornar</a>
    </div>
</body>
</html>
